/*-----计算相关-----*/

//@function  strip-unit: 移除单位(e.g. px, em, rem)，只获取数值
//@$num: 输入
//@return:输出
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

//-----------------------
//数组四则计算
//-----------------------
//
//  plus:加法; minus:减法
//
@function groupCalc($value, $cvalue, $calFunc: minus) {
  //如果$dpr不传，则传出一整dpr组的数据
  @debug $value;
  @debug $cvalue;
  $newValue: ();
  @if $calFunc==plus{
    @each $item in $value {
      $newValue: join($newValue,$item + $cvalue,comma);
    }
  }@else if $calFunc==minus{
    @each $item in $value {
      $newValue: join($newValue,$item - $cvalue,comma);
    }
  }@else if $calFunc==multi{
    @each $item in $value {
      $newValue: join($newValue,$item * $cvalue,comma);
    }
  }@else if $calFunc==division{
    @each $item in $value {
      $newValue: join($newValue,$item / $cvalue,comma);
    }
  }
  //@debug $newValue;
  @return $newValue;
}
//-----------------------
//组合四则计算
//-----------------------
//
//  plus:加法; minus:减法
//
@function arrayCalc($value, $cvalue, $calFunc: minus) {
  //如果$dpr不传，则传出一整dpr组的数据
  @debug $value;
  @debug $cvalue;
  $arrayCalcIndex:1;
  $newValue: ();
  @for $i from 1 through length($value) {
    $minustart: nth($value, $i);
    $minuend:  nth($cvalue, $i);
    @if $calFunc==plus{
      $newValue: join($newValue,$minustart + $minuend,comma);
    }@else if $calFunc==minus{
      $newValue: join($newValue,$minustart - $minuend,comma);
    }
  }
  //@debug $newValue;
  @return $newValue;
}
//-----------------------
//数组数值取反
//-----------------------
//
//  根据dpr和字体号输出行高
//  @params($dpr,$space)
//  $dpr：需要输出的dpr
//  plus:加法; minus:减法
//
@function groupReves($value) {
  //如果$dpr不传，则传出一整dpr组的数据

  $newValue: ();
  @each $item in $value {
    $newValue: join($newValue,- $item,comma);
  }
  @return $newValue;
}
@function vws($value) {
  @return ($value / $base-screen) * $width-page;
}