//-----------------------
//适配变量,当你使用
//-----------------------
$dprs: (1 2 3);  // 1,2,3dpr
$dpr-dp-relative:  2;  //dp转换下的dpr参照
$dpr-fontSize-relative:  1;  //fontsize下的dpr参照
$dpr-font-base:  37.5;  //dpr1基准值

//-----------------------
//色板
//-----------------------


//-----------------------
//圆角
//-----------------------
$Border-radius: 0.12rem;  //主要圆角,用于按钮输入框


//-----------------------
//自定行数截取控制
//-----------------------
$ellipsis-lines:5;



